@import url(main.css);

body, html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}


#back{
    width: 125vw;
    background: url(/assets/LandingBackground.jpg);
    background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -5;
	height: 125vh;
    animation: image-pan infinite 15s ease-in-out;
}

.flex-full{
	flex: 1;
	text-align: center;
	background: rgba(0, 0, 0, 0.400);
	padding: 20px;
}

canvas{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -5;
}

@keyframes image-pan{
	11%{
		top: -5vh;
		left: -25vw;
	}

	25%{
		top: -15vh;
		left: -12vw;
	}
	43%{
		top: -23vh;
		left: -5vw;
	}

	69%{
		top: -25vh;
		left: -25vw;
		transform: scale(1.125);
	}

	81%{
		top: -5vw;
		left: -19vh;
	}

	95%{
		top: -20vh;
		bottom: -15vw;
		transform: scale(1.05);
	}
}

.reduce-anim {
	position: fixed;
	right: 0;
	bottom: 0;
	padding: 10px;
}

.navbar * {
	color: white !important;
}

.navbar-toggler {
	color: white;
	border-color: white !important;
}

.navbar.translucent{
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	left: 0;
	text-align: center;
	right: 0;
	margin: 20px 10px;
	border-radius: 50px;
	background: rgba(0, 0, 0, 0.400) !important;
}


.navbar-nav {
	display: flex;
	width: 100%;
	justify-content: center;
}
.navbar-nav a {
	flex: 1;
	color: white !important;
	text-align: center;
	vertical-align: bottom;
	margin-top: 7.5px;
}

.navbar input {
	background: none !important; 
}

.collapse.navbar-collapse {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
}

.input-group.mb-3 {
	position: relative;
	top: 7.5px;
}

.nav-item.nav-link:hover {
	text-decoration-line: underline;
	text-decoration-skip: none;
}

@media only screen and (max-width: 991px){
	.collapse.navbar-collapse:not(.show){
		height: 0;
		overflow: hidden;
	}
	.input-group.mb-3{
		width: 100%;
	}
	nav.navbar.translucent {
		border-radius: 25px;
		background: rgba(0, 0, 0, 0.9) !important;
	}
}

@media only screen and (max-width: 530px){
	h1.display-1 {
		font-size: 3.5rem;
	}
}